<!DOCTYPE html>
<html lang="es">

<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./css/login.css" media="screen">
    <link rel="stylesheet" href="./css/tasksScreen.css" media="screen">
    <link rel="icon" href="./img/task-planning.png" type="img/png">
</head>

<body>
    <div id="accountHeader">
        <p>TASKS</p>
    </div>

    <div id="login_form_box">
        <form method="POST" id="login_form" action="on_login">
            <div class="formlogin">
                Dirección de correo <input type="email" name="email">
            </div>
            <div class="formlogin">
                Contraseña <input type="password" name="password">
            </div>
            <input type="submit" id="iniciar" value="Aceptar">
        </form>

        <% if(errorMsg !=null){%>
            <h4 id="error">
                <%= errorMsg%>
            </h4>
            <%} %>
    </div>

</body>

</html>